<!DOCTYPE html>
<html>
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<h1>Restaurant trop bieng !</h1>
	<h2>Miam on se met bieng :)</h2>
	<div class="menu">
		<div id="presentation">Présentation</div>
			
		<div id="menu">Menu</div>
		
		<div id="bieng">Se mettre bieng</div>
		
	</div>
	<div class="content">
			<ul id="presentation_list">
				<li>Ici on se présente</li>
				<li>Alors on est à Bali</li>
				<li>On kiffe la life</li>
			</ul>
			<ul id="menu_list">
				<li>Je mange vegan</li>
				<li>Les nanas m'obligent</li>
				<li>Mais j'arrive à frauder</li>
			</ul>
			<ul id="bieng_list">
				<li>Il fait 30°C en ce moment même</li>
				<li>On travaille au bord de la mer</li>
				<li>J'ai peut être un plan pour faire du kite</li>
			</ul>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
</body>
</html>


