<!DOCTYPE html>
<html>
<head>
	 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
<body>
	<h1>Restaurant trop bieng !</h1>
	<h2>Miam on se met bieng :)</h2>
	<div class="menu">
		<div id="presentation">Présentation</div>
			
		<div id="menu">Menu</div>
		
		<div id="bieng">Se mettre bieng</div>
		
	</div>
	<div class="content">
			<ul id="presentation_list">
				<li>Ici on se présente</li>
				<li>Alors on est à Bali</li>
				<li>On kiffe la life</li>
			</ul>
			<ul id="menu_list">
				<li>Je mange vegan</li>
				<li>Les nanas me poussent un peu</li>
				<li>Mais j'arrive à frauder</li>
			</ul>
			<ul id="bieng_list">
				<li>Il fait 30°C en ce moment même</li>
				<li>On travaille au bord de la mer</li>
				<li>J'ai peut être un plan pour faire du kite</li>
			</ul>
	</div>
	<div id="big_container">
		<div id="container">
			<button id="left"><</button>
			<div id=carousel>
				<div>
					<%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1200px-Good_Food_Display_-_NCI_Visuals_Online.jpg", :id => "img1" %>
			    </div>
				<div>
					<%= image_tag "https://zzoob.com/wp-content/uploads/2017/08/585be1aa1600002400bdf2a6.jpeg", :id => "img2"%>
				</div>
				<div>
					<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQorbomuG7a3hAybjvENmoMRk10iRXSEVogm82NBFj9wXYZ_w2KJg", :id => "img3"%>
				</div>
				<div>
					<%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSU-7QIF93i8jC9Gvilh15YRv_9Fi2XdpULaX1HCAmZAjjP-S4Xdw", :id => "img4"%>
				</div>
			</div>
			<button id="right">></button>
		</div>
	</div>

	

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
</body>
</html>


