// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1, h2 {
	text-align: center;
}

.menu {
	display: flex;
	justify-content: center;
	

}

.menu div {
	padding: 10px;
}

* {
	font-family: 'Roboto Condensed', sans-serif;

}

.content {
	text-align: center;
}

ul {
	list-style: none;
	text-align: center;
	border: 2px groove black;
	border-radius: 10px;
	background-color: #009ADE;
	color: #FCFFF5;
	font-weight: 500;
	margin: auto;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#menu:hover, #presentation:hover, #bieng:hover {
	color: white;
	background-color: grey;
	font-weight: 700;
	border-radius: 10px;
}

#img1, #img2, #img3, #img4 {
	height: 200px; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

#big_container {
	display: flex;
    justify-content: space-around;
}

#container {
	display: flex;
    justify-content: space-around;
    align-items: center;
    
}

#left, #right {
	margin: 10px;
}

#carousel {
  margin: 80px auto;
  position: relative;
  width: 300px;
  height: 200px;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#carousel > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}